In [1]:
# The code was removed by Watson Studio for sharing.

(103, 3)

In [9]:
# I downlloaded the Longitude & Latitude CSV that was provided and uploaded to IBM Cloud as a data asset, then imported here.#

body = client_045f7a7a9ce54f049136c01efcd0e9c2.get_object(Bucket='course9datasciencecapstoneproject-donotdelete-pr-nybrds73a41gom',Key='Geospatial_Coordinates.csv')['Body']
# add missing __iter__ method, so pandas accepts body as file-like object
if not hasattr(body, "__iter__"): body.__iter__ = types.MethodType( __iter__, body )

geo_df = pd.read_csv(body)
geo_df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [12]:
# This line merges the two csv files together into one dataframe #
merged_df = pd.merge(left=df, right=geo_df, left_on='Postalcode', right_on='Postal Code')
merged_df.head()

,Postalcode,Borough,Neighborhood,Postal Code,Latitude,Longitude
0,M3A,North York,Parkwoods,M3A,43.753259,-79.329656
1,M4A,North York,Victoria Village,M4A,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",M5A,43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",M6A,43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",M7A,43.662301,-79.389494

In [13]:
# This line will drop the second column, titled "Postal Code" on the right side of the table to produced the desired result #
longlat_df = merged_df.drop(columns=['Postal Code'])
longlat_df.head()

,Postalcode,Borough,Neighborhood,Latitude,Longitude
0,M3A,North York,Parkwoods,43.753259,-79.329656
1,M4A,North York,Victoria Village,43.725882,-79.315572
2,M5A,Downtown Toronto,"Regent Park , Harbourfront",43.654260,-79.360636
3,M6A,North York,"Lawrence Manor , Lawrence Heights",43.718518,-79.464763
4,M7A,Downtown Toronto,"Queen's Park , Ontario Provincial Government",43.662301,-79.389494